<header id="header">
  <div>
          <img src="assets/img5.jpg" alt="logo" class="logo">
          <h4>Sharan suresh</h4>
          <button class="hamburger hamburger--slider " type="button" id="menu">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
        </button>  
  </div>      

  <nav id="nav">
      <ul class="nav_links">
          <li><a href="">Blog</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
      </ul>
  </nav>

</header>