@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    outline: none;
}
html,body{
    margin:0px;
    height:100%;
    width:100%;

}



.logo{
    display: inline-block;
    clip-path: circle();
    height: 47px;
    margin: 1px 10px 0px;
}
h4{
    display: inline-block;
    margin: 0px;
    height: 8px;
    margin-top: 14px;
    position: absolute;
}
#menu{
    float: right;
    margin-left:10px;
}


@media only screen and (max-width:700px){
    header{
        display: flex;
        flex-direction: column;
        background-color: white;
        height:49px;
    }
    header div{
        background-color: white;
        

    }
    nav{
        display:none;
    }
    .nav_links{
        list-style: none;
        padding:0px;
    }
    .nav_links li{
        text-align: center;
        margin:35px;
    }
    .nav_links li a{
        text-decoration: none;
        color:black;
    }

    .hamburger {
        padding: 15px 15px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
       }
        
       
        .hamburger.is-active .hamburger-inner,
        .hamburger.is-active .hamburger-inner::before,
        .hamburger.is-active .hamburger-inner::after {
          background-color: #000; }
      
      .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; }
      
      .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          width: 26px;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          position: absolute;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease; }
          .hamburger-inner::before{
              width:20px;
              margin-right: 1px;
          }
        .hamburger-inner::before, .hamburger-inner::after {
          content: "";
          display: block; }
        .hamburger-inner::before {
          top: -10px; }
        .hamburger-inner::after {
          bottom: -10px; }
      
          .hamburger--slider .hamburger-inner {
              top: 2px; }
              .hamburger--slider .hamburger-inner::before {
                top: 10px;
                transition-property: transform, opacity;
                transition-timing-function: ease;
                transition-duration: 0.15s; }
              .hamburger--slider .hamburger-inner::after {
                top: 20px; }
            
            .hamburger--slider.is-active .hamburger-inner {
              transform: translate3d(0, 10px, 0) rotate(45deg); }
              .hamburger--slider.is-active .hamburger-inner::before {
                transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
                opacity: 0; }
              .hamburger--slider.is-active .hamburger-inner::after {
                transform: translate3d(0, -20px, 0) rotate(-90deg); }
        
                


    
    .header{
        height:100%;
    }
    .nav{
        margin-top:120px;
        display: block;
    }
    .scroll{
        overflow: hidden;
    }
    .banner{
        width: 100%;
        height:100%;

    }
    .banner>img{
        height: inherit;
        width: inherit;
    }
    
    .tab-view{
        display: flex;
        flex-direction: column;
        margin-top:43px;
    }

    .tab-bar {
        display: block;
    }
    .tabcontroller {
        border: 0px;
        height: 42px;
        width: 85px;
        background-color: white;
        font-size: 18px;
        font-weight:bold;
    }
    .border{
        
        display:block;
        width:100%;
        margin: auto;
        margin-top:11px;
        border:1px black solid;
        position: relative;
        left:0px;
        transition: all 0.5s ease;
        
        
    }

    
    .quotes {
        display: none;
        flex-direction: column;
        padding: 10%;
        padding-top:0px;
    }
    .article {
        display: flex;
        flex-direction: column;
        padding: 10%;
        padding-top: 0px;
        padding-right: 19px;
        padding-left: 19px;

}
        
    
    


    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 450px;
        width: 100%;
        margin-top:27px;
        padding:15px;
        background: white;
        border-radius: 8px;
        filter: drop-shadow(0px 5px 5px #918888);
    }
    .article_post{
        padding: 0px;
        justify-content:flex-start;
        height: auto;
        filter: none;

    }
    
    .section{
        height: 1px;
        width: 100%;
        background-color: #8080803d;
        margin-top: 10px;
    }

    .title {
        margin-left: 12px;
        margin-top: 5px;
        display: flex;
    }
    .title p {

        display: inline-block;
        margin: 6px 0px 0px 13px;
        line-height: 22px;
        font-size:11px;
        color:grey;
    
    }
    .name{
        font-size:15px;
        color:#008000c4;
    }

    .article_post img {
    height: 48px;
    clip-path: circle();
}
    .quote{
        width: 34px;

    }
    .about{
        display: block;
        background:#37353f;
        height: 500px;
    }
    .about p{
    
            text-align: center;
            color: white;
            font-style: italic;
            display: block;
            margin: 0px 12px 36px 12px;
        
        
    }
    .profile {
        clip-path: circle();
        max-width: 300px;
        width: 112px;
        margin:4%;
    }

    .contact {

        display: block;
        width: 100%;
        padding-left:10px;
        padding-right:10px;
        padding-bottom: 19px;
        background: #413f4a;
    
    }
    .social {

        display: inline-block;
        width: 29px;
        margin-left: 7px;
        margin-right: 7px;
    
    }





}
@media only screen and (min-width:700px){

    header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 30px;
        padding-right:30px;
        height:56px;
        width: 100%;
        background-color: aqua;
        position: fixed;
    }
    header div {
        margin-right:auto;
       
    }
    .nav_links{
        list-style: none;
    }
    .nav_links li{
        display: inline-block;
        margin: 19px;
    
    }
    .nav_links li a{
        text-decoration: none;
        color:black;
    }
    #menu{
        display: none;
    }
}
.mdc-tab-bar{
    width:50%;
}



